* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--primary-color); 
    font-family: Helvetica, Arial, sans-serif;    
}

:root {
    --primary-color: rgb(196, 196, 196); 
    --secondary-color:rgb(255, 255, 255);
    --tertiary-color: rgb(0, 255, 117);

}

    header {
        padding: 20px 35px;
        display: flex;
        justify-content: space-between;
        

        

        

    }

    header nav {
        margin: 20px 50px;
    }

    header nav ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        list-style: none;
    }


