    <!--Hero-->
    <section class="hero">
        <div class='imgbox d-flex justify-content-center'>
            <img class="center-fit" src="/images/hero.jpg" alt="nice picture" srcset="">
        </div>
    </section>
    <!--End of Hero section-->


    {{!-- button to start searching --}}
    <div class='cont d-flex justify-content-center' >
        {{!-- <div class=' mt-5 w-50 bg-light d-flex justify-content-center rounded'>
            <a href="/search" class='h2' >Start searching</a>
        </div> --}}
        
    </div>

    <!-- About section -->
    <section id="about" class="about p-5 m-5">
        <div class='d-flex flex-column '>
            <h2 >About:</h2>
            <div class="about-text mt-3">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                    ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                    fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                    deserunt mollit anim id est laborum.
                </p>
            </div>
        </div>
    </section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/randomcolor/0.6.1/randomColor.min.js" integrity="sha512-vPeZ7JCboHcfpqSx5ZD+/jpEhS4JpXxfz9orSvAPPj0EKUVShU2tgy7XkU+oujBJKnWmu4hU7r9MMQNWPfXsYw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/javascripts/searchbutton.js"></script>
    <!-- End of about section -->