    <main class="p-5 m-5">
        <h2>My-Trails:</h2>

        <div class='container'>
            <!-- first row -->
            <div class='row my-5'>
                {{> result-info results }}
            </div>
        </div>
    </main>