<main class="p-5 m-5">
    <h2>Trails in {{city}}{{zip}}{{name}}</h2>

    <div class='container'>
        <!-- first row -->
        <div class='row my-5'>
            {{> result trail}}
        </div>
    </div>
</main>

{{#if loggedIn}}
<script src="/javascripts/search.js"></script>
{{/if}}