   <!-- signup form -->
    <main class='signup d-flex m-5 p-3'>
        <form class='s-form border m-3 p-5' id="signup-form">
            <h2>Sign-up</h2>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control w-75" id="username" aria-describedby="username" placeholder="Username">            
              </div>
            <div class="form-group">
              <label for="email">Email address</label>
              <input type="email" class="form-control w-75" id="email" aria-describedby="emailHelp" placeholder="Enter email">            
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control w-75" id="password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </main>
    
    <script src="/javascripts/signup.js"></script>