<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="./style.css" />
    <title>Trail Mix</title>
</head>
<body>
    <header class='mb-5'>
        <div class='container-fluid'>
            <div class='row '>
                <div class='col-9'>
                    <h1 class='web-title'>
                        <a href="/" >Trail Mix</a>
                    </h1>
                </div>
                
                <div class='navigation py-3 col-sm-1'>
                    <a href="#my-trails" >My Trails</a>
                </div>
                <div class='navigation py-3 col-sm-1'>
                    <a href="#login">Log in</a>
                </div>                
                <div class='navigation py-3 col-sm-1'>
                    <a href="#my-trails" >My Trails</a>
                </div>        
            </div>
        </div>
    </header>
    <!-- End Header-->

    <!--Hero-->
    <section class="hero">
        <div class='d-flex justify-content-center'>
            <span>hero</span>
        </div>
    </section>
    <!--End of Hero section-->

    <!-- About section -->
    <section id="about" class="about p-5 m-5">
        <div class='d-flex flex-column '>
            <h2 >About:</h2>
            <div class="about-text mt-3">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                    ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                    fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                    deserunt mollit anim id est laborum.
                </p>
            </div>
        </div>
    </section>
    <!-- End of about section -->
</body>
</html>