<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="./style.css" />
    <title>Trail Mix</title>
</head>
<body>
    <header class='mb-5'>
        <div class='container-fluid'>
            <div class='row '>
                <div class='col-9'>
                    <h1 class='web-title'>
                        <a href="/" >Trail Mix</a>
                    </h1>
                </div>
                
                <div class='navigation py-3 col-sm-1'>
                    <a href="#my-trails" >My-Trails</a>
                </div>
                <div class='navigation py-3 col-sm-1'>
                    <a href="#login">Log-in</a>
                </div>                
                <div class='navigation py-3 col-sm-1'>
                    <a href="#my-trails" >My-Trails</a>
                </div>        
            </div>
        </div>
    </header>
    <!-- End Header -->

    <!-- signup form -->
    <main class='signup d-flex m-5 p-3'>
        <form class='s-form border m-3 p-5' id="signup-form">
            <h2>Sign-up</h2>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control w-75" id="username" aria-describedby="username" placeholder="Username">            
              </div>
            <div class="form-group">
              <label for="email">Email address</label>
              <input type="email" class="form-control w-75" id="email" aria-describedby="emailHelp" placeholder="Enter email">            
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control w-75" id="password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </main>
</body>

<script src="../public/javascripts/login.js"></script>
</html>