<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="./style.css" />
    <title>Trail Mix</title>
</head>
<body>
    <header class='mb-5'>
        <div class='container-fluid'>
            <div class='row '>
                <div class='col-9'>
                    <h1 class='web-title'>
                        <a href="/" >Trail Mix</a>
                    </h1>
                </div>
                
                <div class='navigation py-3 col-sm-1'>
                    <a href="#my-trails" >My-Trails</a>
                </div>
                <div class='navigation py-3 col-sm-1'>
                    <a href="#login">Log-in</a>
                </div>                
                <div class='navigation py-3 col-sm-1'>
                    <a href="#my-trails" >My-Trails</a>
                </div>        
            </div>
        </div>
    </header>
    <!-- End Header-->

    <!-- card -->
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
</body>
</html>